* {
  margin: 0px;
  padding: 0px;
}

button {
  font-size: 18px;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto';
}

#calculator-buttons-container {
  display: flex;
  background-color: darkgrey;
  padding: 0px 8px 8px 8px;
  font-size: 0px;
}

button {
  width: 75px;
  height: 75px;
  margin: 2px;
  border-radius: 8px;
}

#calculator-display {
  font-size: 32px;
  font-weight: bold;
  padding: 8px 16px;
  background-color: lightgray;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
