body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator-buttons-container {
  display: flex;
}

#calculator-numeric-buttons, #calculator-operator-buttons {
  display: flex;
  flex-direction: column;
}
